<h2>Sobre mim</h2>
<div class="profile-container">
    <div class="profile-pic-container">
        <img id="profile-pic" src="assets/images/profile-photo.jpg"/>
    </div>
    <div class="about-container">
        <p>Sou o Leonardo, tenho 21 anos e moro em São Paulo. Trabalho no Itaú Unibanco desde 2017. Entrei como estagiário e hoje sou Engenheiro de Software. Trabalho com desenvolvimento de front end, mais especificadamente em mobile, atuando com Angular e Android nativo. No meu tempo livre gosto muito de jogar futebol, jogar video game e estudar para me atualizar.</p>
    </div>
</div>