/* You can add global styles to this file, and also import other style files */
body {
   background-color: #ffffff;
   margin: 0;
}

h1, h2, p {
    font-family: 'Lato', sans-serif;
}

h2 {
    margin-top: 2rem;
}